n8n-workflow/workflow.json
{
  "name": "Process Ticket Workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "equal",
              "value2": 200
            }
          ]
        },
        "options": {}
      },
      "id": "978d28bb-c312-4c73-84c5-a5bc6a3751df",
      "name": "If Health OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        656,
        1552
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "ok"
            }
          ],
          "number": [
            {
              "name": "status",
              "value": 503
            }
          ],
          "string": [
            {
              "name": "error",
              "value": "Backend no disponible (cold start)"
            }
          ]
        },
        "options": {}
      },
      "id": "6de784e4-956a-4e8a-9370-77c526b66471",
      "name": "Set Health Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        1648
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-ticket",
        "responseMode": "lastNode",
        "options": {},
        "responseData": "firstEntryJson"
      },
      "id": "496ad3b7-5017-4a33-8cfa-3307e3a144ed",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        208,
        1552
      ],
      "webhookId": "180985dd-41c5-4083-a1c9-067c71f3c1de"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai-powered-support-co-pilot.onrender.com/process-ticket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket_id",
              "value": "={{$node[\"Webhook1\"].json.body.ticket_id}}"
            },
            {
              "name": "description",
              "value": "={{$node[\"Webhook1\"].json.body.description}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "442631be-66d3-4f78-ad77-91741b78f8a8",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        1456
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.sentiment}}",
              "operation": "equal",
              "value2": "Negativo"
            }
          ]
        },
        "options": {}
      },
      "id": "0d803dd9-b620-4041-b29c-33ac95e3880f",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1552,
        1552
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "email_simulated",
              "value": true
            }
          ],
          "string": [
            {
              "name": "subject",
              "value": "Alerta de ticket negativo"
            },
            {
              "name": "body",
              "value": "={{ \"Ticket \" + $json.ticket_id + \" con sentimiento \" + $json.sentiment }}"
            },
            {
              "name": "ticket_id",
              "value": "={{$json.ticket_id}}"
            },
            {
              "name": "sentiment",
              "value": "={{$json.sentiment}}"
            }
          ]
        },
        "options": {}
      },
      "id": "be2142c7-3ebb-46d6-b246-3b33624c06b1",
      "name": "Simulate Email1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1776,
        1456
      ]
    },
    {
      "parameters": {
        "url": "https://ai-powered-support-co-pilot.onrender.com/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        1552
      ],
      "id": "024e9e8e-c019-4858-b8a5-ed7bcbd56712",
      "name": "HTTP Request3",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode || $json.status || 500}}",
              "operation": "largerEqual",
              "value2": 400
            }
          ]
        },
        "options": {}
      },
      "id": "616fcff6-9922-4e40-9062-7b02d8172799",
      "name": "If HTTP Error1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        1456
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "ok"
            }
          ],
          "number": [
            {
              "name": "status",
              "value": "={{$json.statusCode}}"
            }
          ],
          "string": [
            {
              "name": "error",
              "value": "={{$json.body?.detail || $json.body?.message || \"Backend error\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "41f03417-f682-425f-9410-908f7030858f",
      "name": "Set Error Response1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1328,
        1360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "ok",
              "value": true
            },
            {
              "name": "processed",
              "value": "={{$json.body.processed}}"
            }
          ],
          "string": [
            {
              "name": "ticket_id",
              "value": "={{$json.body.ticket_id}}"
            },
            {
              "name": "category",
              "value": "={{$json.body.category}}"
            },
            {
              "name": "sentiment",
              "value": "={{$json.body.sentiment}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b9b0ad93-240c-46f8-9ffb-23592f1c22d2",
      "name": "Set Success Response1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1328,
        1552
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "email_simulated"
            }
          ]
        },
        "options": {}
      },
      "id": "37a3bc15-e710-4d9b-a5ed-6423a14c5077",
      "name": "Set No Email1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1776,
        1648
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "webhookUri": "<DISCORD_WEBHOOK_URL>",
        "content": "={{\"ALERTA Ticket negativo\" + \"\nID: \" + $json.ticket_id + \"\nCategoria: \" + $json.category + \"\nSentimiento: \" + $json.sentiment + \"\nDescripcion: \" + $node[\"Webhook1\"].json.body.description + \"\nTimestamp: \" + $now}}",
        "options": {}
      },
      "id": "413bc009-68c9-40fe-a311-4a08adaf7e47",
      "name": "Discord Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        2000,
        1456
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "ok",
              "value": true
            },
            {
              "name": "processed",
              "value": "={{$node[\"Set Success Response1\"].json.processed}}"
            },
            {
              "name": "email_simulated",
              "value": true
            }
          ],
          "string": [
            {
              "name": "ticket_id",
              "value": "={{$node[\"Set Success Response1\"].json.ticket_id}}"
            },
            {
              "name": "category",
              "value": "={{$node[\"Set Success Response1\"].json.category}}"
            },
            {
              "name": "sentiment",
              "value": "={{$node[\"Set Success Response1\"].json.sentiment}}"
            },
            {
              "name": "subject",
              "value": "={{$node[\"Simulate Email1\"].json.subject}}"
            },
            {
              "name": "body",
              "value": "={{$node[\"Simulate Email1\"].json.body}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6b29ede3-fa56-4f61-9d70-fd303f51ed97",
      "name": "Set Final Response (Negative)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2224,
        1456
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "ok",
              "value": true
            },
            {
              "name": "processed",
              "value": "={{$node[\"Set Success Response1\"].json.processed}}"
            },
            {
              "name": "email_simulated",
              "value": false
            }
          ],
          "string": [
            {
              "name": "ticket_id",
              "value": "={{$node[\"Set Success Response1\"].json.ticket_id}}"
            },
            {
              "name": "category",
              "value": "={{$node[\"Set Success Response1\"].json.category}}"
            },
            {
              "name": "sentiment",
              "value": "={{$node[\"Set Success Response1\"].json.sentiment}}"
            }
          ]
        },
        "options": {}
      },
      "id": "517d7edd-dce3-4ca2-9866-6dfec28e6268",
      "name": "Set Final Response (No Email)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2000,
        1648
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "If Health OK": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Health Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If HTTP Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Simulate Email1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If Health OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If HTTP Error1": {
      "main": [
        [
          {
            "node": "Set Error Response1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Success Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Response1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Email1": {
      "main": [
        [
          {
            "node": "Discord Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Alert": {
      "main": [
        [
          {
            "node": "Set Final Response (Negative)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Email1": {
      "main": [
        [
          {
            "node": "Set Final Response (No Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Response1": {
      "main": []
    },
    "Set Health Error": {
      "main": []
    },
    "Set Final Response (Negative)": {
      "main": []
    },
    "Set Final Response (No Email)": {
      "main": []
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "348179c1-9877-447a-b665-3ed434119a58",
  "meta": {
    "instanceId": "5e5577b825b3333d180ace89e359b1715dc921b58b40c1970e9a6b1e7123b8fd"
  },
  "id": "BWZA_1S6_84Fd0eNPfEfR",
  "tags": []
}