n8n-workflow/workflow.json
{
  "name": "Process Ticket Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-ticket",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "8b0d17fa-0774-4c7a-b66f-9da98e1d4823",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        64,
        752
      ],
      "webhookId": "180985dd-41c5-4083-a1c9-067c71f3c1de"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai-powered-support-co-pilot.onrender.com/process-ticket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket_id",
              "value": "={{$node[\"Webhook\"].json.body.ticket_id}}"
            },
            {
              "name": "description",
              "value": "={{$node[\"Webhook\"].json.body.description}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "29da97f9-7164-46cc-b5f1-99d24c1ccd11",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        512,
        752
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.sentiment}}",
              "operation": "equal",
              "value2": "Negativo"
            }
          ]
        },
        "options": {}
      },
      "id": "a396e0ba-8c97-4878-9efc-e1e5683301a5",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1184,
        848
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "email_simulated",
              "value": true
            }
          ],
          "string": [
            {
              "name": "subject",
              "value": "Alerta de ticket negativo"
            },
            {
              "name": "body",
              "value": "={{ \"Ticket \" + $json.ticket_id + \" con sentimiento \" + $json.sentiment }}"
            },
            {
              "name": "ticket_id",
              "value": "={{$json.ticket_id}}"
            },
            {
              "name": "sentiment",
              "value": "={{$json.sentiment}}"
            }
          ]
        },
        "options": {}
      },
      "id": "5da2c081-78e9-4736-98bd-b2488f399f76",
      "name": "Simulate Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1408,
        752
      ]
    },
    {
      "parameters": {
        "url": "https://ai-powered-support-co-pilot.onrender.com/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        752
      ],
      "id": "c7d85c74-f1dc-42b8-bd7a-6fe7af08b953",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "098bcd05-8626-4b88-b1f4-6a0157cbcf87",
              "leftValue": "=={{ ($json.statusCode ?? 200) }}",
              "rightValue": "400",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8b402bda-e4c5-45f9-ba60-28393e2a9a09",
      "name": "If HTTP Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        736,
        752
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "ok"
            }
          ],
          "number": [
            {
              "name": "status",
              "value": "={{$json.statusCode}}"
            }
          ],
          "string": [
            {
              "name": "error",
              "value": "={{$json.body?.detail || $json.body?.message || \"Backend error\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "454b8058-3437-49c4-a9d3-8c4ba4c55dea",
      "name": "Set Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        960,
        656
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "ok",
              "value": true
            },
            {
              "name": "processed",
              "value": "={{$json.body.processed}}"
            }
          ],
          "string": [
            {
              "name": "ticket_id",
              "value": "={{$json.body.ticket_id}}"
            },
            {
              "name": "category",
              "value": "={{$json.body.category}}"
            },
            {
              "name": "sentiment",
              "value": "={{$json.body.sentiment}}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b6f84a1-21b7-44a4-969f-a932362ceecd",
      "name": "Set Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        960,
        848
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "email_simulated"
            }
          ]
        },
        "options": {}
      },
      "id": "c90ead34-8bd6-44a4-a2a3-2764132607c6",
      "name": "Set No Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1408,
        944
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If HTTP Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Simulate Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If HTTP Error": {
      "main": [
        [
          {
            "node": "Set Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e3cf9c26-ac0a-4846-8ac4-91c529651c06",
  "meta": {
    "instanceId": "5e5577b825b3333d180ace89e359b1715dc921b58b40c1970e9a6b1e7123b8fd"
  },
  "id": "BWZA_1S6_84Fd0eNPfEfR",
  "tags": []
} 